/* Header */
.jumbotron {
    background-image: url(../imgs/bg.jpg);
    background-position: center center;
    height: 400px;
    margin-bottom: 0px;
    position: relative;
    background-size: cover;
}

.display-3 {
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.button-center {
    text-align: center;
    margin-top: 30px;
    /* margin-bottom: 30px; */
}

.lead {
    color: white;
    width: 100%;
    font-size: 16px;
    position: absolute;
    top: 0;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    ;
    /* background: rgba(0, 0, 0, 0.575); */
}

/* Navigation */

.title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
}

#above-nav {
    font-size: 12px;
    padding-left: 50px;
    color: white;
    background-color: black;
}

.container {
    margin-bottom: 60px;
}


#article-one {
    background-color: #d6d6d6;
    padding-top: 50px;
    border-bottom: solid rgb(160, 160, 160);
    border-width: 1px;
}

.bottom-container {
    margin-bottom: 30px;
}

#article-two {
    margin-top: 60px;
}

#article-three {
    background-color: #d6d6d6;
    padding-top: 50px;
    padding-bottom: 1px;
    border-top: solid rgb(160, 160, 160);
    border-width: 1px;
}

hr {
    width: 50%;
    margin-left: 0;
}

.bottom-images {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h4 {
    text-transform: uppercase;
}

h6 {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

#space{
    margin-left: 5px;
    margin-right: 5px;
}

#contact {
    color: white;
}



/* 3rd Article Cards */
.card {
    width: 14rem;
}

.card-img-top {
    height: 150px;
}

.card-body {
    height: 125px;
    padding-bottom: 0;
}

/* Footer */
footer {
    font-size: 14px;
    text-align: center;
    color: white;
    background-color: black;
    height: 50px;
    padding-top: 10px;
}

@media only screen and (max-width: 600px) {
    .lead {
        display: none;
    }
    .card {
        width: 20rem;
        margin-bottom: 20px;
    }
    
    .card-img-top {
        height: 190px;
    }

    .article-three {
        text-align: center;
    }

    #above-nav {
        text-align: center;
    }
}